.popup__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 48px;
  background: black;
  color: white;
  font-size: 36px;
}

.popup__button_disable {
  background: transparent;
  color: rgba(0, 0, 0, .2);
}

.popup__button_avatar {
  margin-top: 90px;
}
